[alias]
	amend = !git add -A && git commit --amend --no-edit
	co = checkout
	c = "!git add -A && git commit -m"
	cs = "!f() { git add -A && git commit -m $1 && git show }; f"
    p = !git push origin $(git rev-parse --abbrev-ref HEAD)
    fre = "!git fetch --all && git reset --hard"
	d = "!git diff"
[user]
	name = stephenschneider
	email = stephenschneider10@gmail.com
